<div class="pure-g-r">
	<div class="{{#unless firstTimeUsed}} pure-u-1-2{{else}} pure-u-1{{/unless}} question">
		<div class="fk-container">
			<h1>PrettyRequest</h1>
			<h2>A HTTP Request Beautifier</h2>
			<hr />
			<textarea id="textarea-request" placeholder="Enter a GET Request...">{{content}}</textarea>
			<span id="other-options">
				<a id="beautify" class="pure-button pure-button-primary" href="javascript:void(0)">Beautify!</a>
				A <a href="#example/{{randomExample}}" class="link">random example of use, </a> and <a href="#why" class="link">the reason behind this.</a>
			</span>
		</div>
	</div>
	{{#if params}}
	<div class="pure-u-1-2 response {{#if firstTimeUsed}}hidden{{/if}}">
		<div class="fk-container">
			{{#if params}}
				<div class="fk-result fine">
					<table class="pure-table">
    					<thead>
        					<tr>
            					<th>Name</th>
            					<th>Value</th>
            				</tr>
            			</thead>
            			<tbody>
							{{#each params}}
							<tr>
								<td>{{name}}</td>
								<td>{{formatter value}}</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
					</ul>
				</div>
			{{/if}}
		</div>
	</div>
	{{/if}}
</div>